<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    [position]="'start'"
    class="example-sidenav"
  >
    <a mat-button> <mat-icon>home</mat-icon>Home </a>
    <a mat-button> <mat-icon>people</mat-icon>About Us </a>
    <a mat-button> <mat-icon>phone</mat-icon>Contact Us </a>
    <a mat-button> <mat-icon>chat</mat-icon>Help Us </a>
    <mat-icon
      *ngIf="sidenav.opened"
      class="collapse-sidenav"
      (click)="animateSidenav()"
      >keyboard_backspace</mat-icon
    >
    <mat-icon
      *ngIf="!sidenav.opened"
      class="expand-sidenav"
      (click)="animateSidenav()"
      >east</mat-icon
    >
  </mat-sidenav>

  <mat-sidenav-content>
    <h1>Click the arrow button to collapse/expand the panel</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
