.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-sidenav {
  width: 200px;
  padding: 100px 0 20px 0;
}

a {
  margin: 5px 0;

  mat-icon {
    margin-right: 15px;
  }
}

.collapse-sidenav {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.expand-sidenav {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}

h1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
